:root {
    /*  distances
 *  ─────────────────────────────────── */
    --va-distance0: 0.25em;
    --va-distance1: 0.5em;
    --va-distance2: 0.75em;
    --va-distance3: 1em;
    /*  button
 *  ─────────────────────────────────── */
    --va-button-padding: 0.25em 1em 0.25em 1em;
    --va-button-border-style: solid;
    --va-button-border-width: 0.2em;
    --va-button-border-radius: 1em;
    --va-button-transition: all 0.25s ease;
    /*  link
 *  ─────────────────────────────────── */
    --va-link-padding: 0.25em 1em 0.25em 1em;
    --va-link-text-decoration: none;
    --va-link-border-style: none;
    --va-link-border-radius: 1em;
    --va-link-transition: all 0.25s ease;
    /*  input
 *  ─────────────────────────────────── */
    --va-input-padding: 0.25em 1em 0.25em 1em;
    --va-input-border-style: solid;
    --va-input-border-width: 0.2em;
    --va-input-border-radius: 1em;
}
